<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydp.ez.user.mapper.RequestLogMapper">
  <resultMap id="BaseResultMap" type="com.ydp.ez.user.entity.RequestLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="track_id" jdbcType="VARCHAR" property="trackId" />
    <result column="request_ip" jdbcType="VARCHAR" property="requestIp" />
    <result column="request_uri" jdbcType="VARCHAR" property="requestUri" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="sub_system" jdbcType="VARCHAR" property="subSystem" />
    <result column="request_time" jdbcType="TIMESTAMP" property="requestTime" />
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
    <result column="time_spend" jdbcType="INTEGER" property="timeSpend" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, track_id, request_ip, request_uri, params, result, operator_id, sub_system, request_time, 
    return_time, time_spend, add_time
  </sql>
  <insert id="insertSelective" parameterType="com.ydp.ez.user.entity.RequestLog">
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trackId != null">
        track_id,
      </if>
      <if test="requestIp != null">
        request_ip,
      </if>
      <if test="requestUri != null">
        request_uri,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="subSystem != null">
        sub_system,
      </if>
      <if test="requestTime != null">
        request_time,
      </if>
      <if test="returnTime != null">
        return_time,
      </if>
      <if test="timeSpend != null">
        time_spend,
      </if>
        add_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trackId != null">
        #{trackId,jdbcType=VARCHAR},
      </if>
      <if test="requestIp != null">
        #{requestIp,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null">
        #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="subSystem != null">
        #{subSystem,jdbcType=VARCHAR},
      </if>
      <if test="requestTime != null">
        #{requestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timeSpend != null">
        #{timeSpend,jdbcType=INTEGER},
      </if>
      now()
    </trim>
  </insert>
</mapper>